@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4 fw-bold">Welcome to CalAsset Co.</h1>
    <h3 class="display-4 text-center mb-4 fw-bold">Asset Tracking System</h3>
    <div class="row">
        <div class="col-md-10 offset-md-1" style="font-size: 22px;">
            <p>CalAsset Co. is your trusted partner in asset management solutions. We specialize in providing state-of-the-art asset tracking systems that empower businesses to streamline their operations and maximize efficiency.</p>

            <p>With over a decade of experience in the industry, our team of experts is dedicated to helping organizations of all sizes take control of their assets. Whether you're a small startup or a large corporation, we have the tools and expertise to meet your asset management needs.</p>

            <p>At CalAsset Co., we understand that each business is unique. That's why we offer customizable solutions tailored to your specific requirements. Our cutting-edge technology and user-friendly interfaces make asset tracking a breeze, allowing you to focus on what matters most—growing your business.</p>

            <p>Our commitment to excellence extends beyond our products. We pride ourselves on exceptional customer service and ongoing support. When you choose CalAsset Co., you're not just getting a system; you're getting a dedicated partner who is with you every step of the way.</p>

            <p>Thank you for considering CalAsset Co. as your asset management solution provider. We look forward to helping you achieve greater control, efficiency, and success in your business endeavors.</p>
        </div>
    </div>
</div>
